* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #e5e7eb;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.container {
  display: flex;
  justify-content: center;   /* horizontal center */
  align-items: center;       /* vertical center */
  height: 100vh;             /* full viewport height */
  background: #e5e7eb;
}


.card {
  background: #fff;
  padding: 30px;
  width: 350px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.logo {
  color: #3b82f6;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 14px;
  color: #666;
  margin-bottom: 20px;
}

form {
  text-align: left;
}

label {
  display: block;
  margin-top: 15px;
  font-size: 14px;
}

input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  font-size: 13px;
}

button {
  width: 100%;
  padding: 12px;
  margin-top: 20px;
  background: #3b82f6;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background: #2563eb;
}

.signup {
  margin-top: 15px;
  font-size: 14px;
}

/* Container for checkbox + text */
.remember-container {
  display: flex;
  align-items: center;   /* vertically center checkbox with text */
  gap: 6px;              /* space between checkbox and text */
  font-size: 14px;
  color: #374151;        /* neutral text color */
}

.remember-container input[type="checkbox"] {
  margin: 0;             /* remove default spacing */
  width: 10px;
  height: 10px;
  cursor: pointer;
  margin-top: 12px;
}

.login-options {
  display: flex;
  justify-content: space-between; /* left: checkbox, right: link */
  align-items: center;
  margin-top: 10px;
}

.forgot-link {
  font-size: 13px;
  color: #3b82f6;
  text-decoration: none;
}
